.circle-timer {
  width: 90px;
  height: 90px;
  border-radius: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-color: 20px solid black;
  box-sizing: border-box;
}
